th {
    text-align: center;
    border: 3px;
    color: rgb(0, 122, 170);
    border-color: lemonchiffon;
}

td {
    text-align: center;
    color: cadetblue;
    border
}

body {
    background: fixed;
    background-color: rgb(255, 239, 151);
}