body{
    background-color: rgb(252, 177, 255);
}
p{
    text-align: left;
    font-size: 25px;
}

img{
    width: 40%;
    height: 40%;
    display: block;
    margin: 10px auto;
  }

li{
    text-align: left;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}